# Environments
venv/
.venv/
.env

# Cache and compiled files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# IDEs and Editors
.vscode/
.idea/
*.swp

# Logs
logs/
*.log

# Databases (auto-created)
app/data/*.db

# Misc
.DS_Store
